<div *ngIf="!isAdminLoggedIn && !isCustomerLoggedIn" class="header-container" style="position: fixed; z-index: 1; width: 100%;">
  <nz-header class="main-header" nz-row nzType="flex" style="background-color: #003973;">
    <div>
      <a style="color: white;margin-left: 50px;font-size: 20px;font-weight: 700;" routerLink="/login">Restaurant System</a>
    </div>
    <div class="nav-links">
      <a nz-button nzType="link" routerLink="/signup" routerLinkActive="active">Sign Up</a>
      <a nz-button nzType="link" routerLink="/login" routerLinkActive="active">Login</a>
    </div>
  </nz-header>
</div>
<div *ngIf="isAdminLoggedIn" class="header-container" style="position: fixed; z-index: 1; width: 100%;">
  <nz-header class="main-header" nz-row nzType="flex" style="background-color: #003973;">
    <div>
      <a style="color: white;margin-left: 50px;font-size: 20px;font-weight: 700;" routerLink="/admin/dashboard">Restaurant System</a>
    </div>
    <div class="nav-links">
      <a nz-button nzType="link" routerLink="/admin/dashboard" routerLinkActive="active">Dashboard</a>
      <a nz-button nzType="link" routerLink="/admin/category" routerLinkActive="active">Category</a>
      <a nz-button nzType="link" routerLink="/login" routerLinkActive="active" (click)="logout()">Logout</a>
    </div>
  </nz-header>
</div>
<div *ngIf="isCustomerLoggedIn" class="header-container" style="position: fixed; z-index: 1; width: 100%;">
  <nz-header class="main-header" nz-row nzType="flex" style="background-color: #003973;">
    <div>
      <a style="color: white;margin-left: 50px;font-size: 20px;font-weight: 700;" routerLink="/customer/dashboard">Restaurant System</a>
    </div>
    <div class="nav-links">
      <a nz-button nzType="link" routerLink="/customer/dashboard" routerLinkActive="active">Dashboard</a>
      <a nz-button nzType="link" routerLink="/login" routerLinkActive="active" (click)="logout()">Logout</a>
    </div>
  </nz-header>
</div>
<br><br>
<router-outlet></router-outlet>