.parent {
  width: 100%;
  min-height: 92vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.child {
  padding: 40px 50px;
  width: 100%;
  max-width: 650px;
  background-color: white;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
}

.title {
  width: 100%;
  text-align: center;
  margin-bottom: 25px;
  font-size: 26px;
  font-weight: 600;
  color: #003973;
}

.profile-badge {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.profile {
  height: 180px;
  width: 180px;
  object-fit: cover;
//   border-radius: 50%;
//   border: 2px solid #00397320;
}

.upload-label {
  cursor: pointer;
}

.login-form-button {
  margin-top: 20px;
  width: 100%;
  background-color: #003973;
  border: none;
  font-size: 16px;
}

.login-form-button:hover {
  background-color: white !important;
  color: #003973 !important;
  border: 1px solid #003973 !important;
}
